.top-nav-collapse{
    background-color: #ffffff !important;
    transition: all 0.8s;
   
}

.top-nav-collapse .show {
    background-color: #ffffff !important;
    padding: 5px;
}


a:hover, a:focus{
    color: #0a0a0a !important;
    cursor: pointer;
}

a {
    padding: 10px;
    color: rgba(204, 204, 204, 0.767) !important;
    font-size: 20px !important;
}
 a:active{
     color:#0a0a0a !important;
 }

 Link:hover {
     cursor: pointer !important;
 }
 #collapseIcono{
    color:#0a0a0a !important;
 }
 
 